a {
    color: white;
}

.headerDiv {
    background-color: #1f407a;
    height:50px;
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 110
}

.selected {
    text-decoration: none;
}

.selected div {
    height: 50px;
    background-color: #2d64c4;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    display: table-cell;
}

.notSelected {
    text-decoration: none;
}

.notSelected div{
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    display: table-cell;
}

.white-icon {
    color: white;
    cursor: pointer;
    background-color: #1f407a;
    z-index: 111;
}

.arrowBox {
    position: fixed;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    top: 41px;
    right: 11px;
    background-color: white;
    z-index: 112;
    box-shadow: -3px -3px 10px -6px black;
}

.infoBox {
    text-align: left;
    position: fixed;
    width: 200px;
    top: 52px;
    right: 6px;
    background-color: white;
    box-shadow: 3px 3px 10px black;
    z-index: 111;
}

.loginBox /deep/ mat-form-field-wrapper {
    background-color: darkgreen;
    padding-bottom: 0px !important;
}

@media screen and (min-width: 900px) {
    .dropDownMenu {
        display: none;
    }

    .headerMenu {
        background-color: #1f407a;
        width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .headerMenu {
        display: none;
    }

    .dropDownMenu {
        width: 40px;
        padding-top: 5px;
    }

    /deep/.smartPhoneMenu {
        background-color: #1f407a !important;
    }

    .dropMenuLink {
        width: 140px !important;
    }
}
