<p>
  {{displayText}}
</p>

<mat-card *ngIf="publicKey.length!=0" style="display:inline-block">
  <pre style="margin-left: 8px; margin-right: 8px">{{publicKey}}</pre>
</mat-card>
<br><br>
<textarea matInput placeholder="Private key" [(ngModel)]="privateKey"
          style="
            width: 516px;
            height: 200px;
            font-family: monospace;
            font-size: 13px;
            padding-left: 24px;
            padding-right: 5px;
            overflow-y: scroll;
            resize: none;"> </textarea>

<button mat-button (click)="validateKey()" style="width: 548px">
  {{keyText}}
</button>

<ng-container *ngIf="fromPkiComponent">
  <button mat-button (click)="onChangeKeyClicked()" style="width: 548px">
    Change key
  </button>
</ng-container>
