.optionList {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.red-icon {
    color: red;
    cursor: pointer;
    background-color: white;
}

.optionBox{
    border:1px solid black; 
    display: inline-block;
    padding: 20px;
    cursor: move;
    background-color: white;
    position: relative;
    margin-right:10px;
    margin-bottom: 10px;
}

.optionInput {
    width: 100px;
    margin: 0px;
    padding: 0px;
}

.deleteOptionButton {
    position: absolute; 
    top: -20px;
    right: 7px;
    width: 5px;
    height: 5px;
    /*width:20px;
    height:20px; */
    padding: 0px; 
    margin: 0px; 
    background-color:white !important;
    /*border: 2px solid red;*/
}

.xCursorSymbol {
    top:-4px; 
    right:3px; 
    position: absolute; 
    color: red;
}

.blue-icon {
    color: #1f407a;
    height: 30px;
    width: 30px;
    font-size: 40px;
    margin-top: 35px;
}

.plusSymbol {
    color: #1f407a;
    font-size: 30px;
    position: absolute;
    top: 8px;
    left: 10px;
}

mat-form-field.title {
    width: 100%;
}

mat-form-field.description {
    width: 100%;
}

mat-form-field.option {
    width: 100px;
}

.addVoting /deep/ mat-expansion-panel .mat-expansion-panel-header {
    padding-left: 10px;
    padding-right: 10px;
}

.addVoting /deep/ mat-expansion-panel .mat-expansion-panel-body {
    padding: 0;
}

.addVoting /deep/ mat-panel-title {
    padding-left: 16px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

/* CSS to change 'Primary' color */

.addVoting /deep/ .mat-slider {
    width: 100%;
}

.addVoting /deep/ .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #1f407a;
}

.addVoting /deep/ .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #1f407a;
}

.addVoting /deep/ .mat-pseudo-checkbox-checked{
     background-color: #1f407a;
}

.addVoting /deep/ .mat-form-field-infix {
    width: auto !important;
}

.addVoting /deep/ .mat-form-field {
    width: 100% !important;
}

.addVoting /deep/ .mat-form-field-underline {
    width: 100%;
}

.addVoting /deep/ .mat-form-field-flex {
    width: 100%;
}

/deep/ .mat-horizontal-content-container {
    padding: 0px !important;
}

/deep/ .mat-horizontal-stepper-header {
    padding: 0px !important;
}

.checkBoxes /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1f407a;
}
