table {
    width: 100%;
    table-layout: fixed;
}

.nameColumnClass {
    text-align: left;
}

.tickBoxClass {
    width: 60px;
    text-align: left;
    padding-right: 0px !important;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(31,64,122,.54) !important;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(31,64,122,1) !important;
}

.specifyVoterDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.specifyVoterDiv /deep/ .custom-dialog-container.vert .mat-dialog-container.vert {
    resize:vertical;
}

.specifyVoterDiv /deep/ .CodeMirror-line {
    text-align: left;
}

.specifyVoterDiv /deep/ .cm-s-codemirror {
    height: 100% !important;
    width: 100% !important;
}


