th {
    text-align: center;
}

th.mat-header-cell {
    text-align: center !important;
}

mat-form-field {
    width: auto;
}

.addVoter /deep/ .mat-form-field-infix {
    width: auto !important;
}

.addVoter /deep/ .mat-form-field {
    width: 100% !important;
}

.addVoter /deep/ .cm-s-codemirror {
    height: 100% !important;
    width: 100% !important;
}

.addVoter /deep/ .CodeMirror-lines {
    margin-left: 10px;
}

.addVoter /deep/ .validLine .mat-form-field-wrapper .mat-form-field-underline{
    background: darkgreen !important;
}

.addVoter /deep/ .invalidLine .mat-form-field-wrapper .mat-form-field-underline{
    background: red !important;
}

.error-background {
    background-color: #ff7;
}

table {
    width: 100%;
    table-layout: fixed;
}

.inputColumn {
    width: auto;
}

.emailColumn {
    padding-left: 10px !important;
    width: auto;
}

.deleteColumn {
    width: 40px;
    text-align: center;
    padding: 10px !important;
}

.roleColumn {
    width: 65px !important;
    text-align: center;
}

.red-icon {
    color: red;
    cursor: pointer;
}

.green-icon {
    color: green;
    cursor: pointer;
}

.white-icon {
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.addVoterDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.addVoterDiv /deep/ .custom-dialog-container.vert .mat-dialog-container.vert {
    resize:vertical;
}

.addVoterDiv /deep/ .mat-paginator-container {
    width: auto !important;
    padding-left: 20px !important;
}

.addVoterDiv /deep/ .mat-paginator-page-size-label {
    width: 125px !important;
    text-align: left !important;
}

.addVoterDiv /deep/ .mat-paginator-range-label {
    margin-left: 42px !important;
    margin-right: 40px !important;
}

.addVoterDiv /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(31,64,122,.54)
}

.addVoterDiv /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(31,64,122,1)
}

/deep/ .custom-dialog-container {
    max-width: 100vw !important;
}



