<div class="publishComponentDiv">
  <h1>Published votings</h1>

  <div style="padding-left: 24px" *ngIf="displayedVotings.length === 0">
    At the moment there are no votings published.
    <br>
    <br>
  </div>

  <ng-container *ngIf="displayedVotings.length !== 0">

    <table mat-table [dataSource]="dataSource">

      <!-- Title Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef class="title-column"> Voting Title </th>
        <td mat-cell *matCellDef="let element" class="title-column">
          <div class="standardView">
            {{element.getTitle()}}
          </div>
          <div class="smartPhoneView" (click)="showMoreInformation(element)">
            {{element.getTitle()}}
            <mat-icon class="moreInformation">help</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Transaction Id Column -->
      <ng-container matColumnDef="TransactionId">
        <th mat-header-cell *matHeaderCellDef class="transaction-column">Transaction Id</th>
        <td mat-cell *matCellDef="let element" class="transaction-column">
          {{element.getTransactionId()}}
          <!--<div (click)="showMoreInformation(element)" style="cursor: pointer">
            <div (click)="showMoreInformation(element)" style="cursor: pointer" class="description-wrapper">
              {{element.getDescription()}}
            </div>
          </div>-->
        </td>
      </ng-container>

      <!-- Generate Key Column -->
      <ng-container matColumnDef="ViewSummary">
        <th mat-header-cell *matHeaderCellDef class="view-summary-column"> View summary </th>
        <td mat-cell *matCellDef="let element" class="view-summary-column">
          <!--<ng-container *ngIf="statusMap[element.getId().valueOf()].getParticipatedInDecryption()">
            <div>
              <mat-icon class="green-icon" matTooltip="You already participated in key generation.">cloud_done</mat-icon>
            </div>
          </ng-container>
          <ng-container *ngIf="!(statusMap[element.getId().valueOf()].getParticipatedInDecryption())">
            <button mat-button (click)="onDecryptClicked(element.getId(),element.getOptions())">Decrypt</button>
          </ng-container>-->
          <button mat-button (click)="onViewSummaryClicked(element)" style="width: 96px; padding: 0px">View summary</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>

<!--<div *ngIf="showSpinner" style="position: absolute; left: 0px; top: 0px; width: 100vw; height: 100vh; background-color: black; opacity: 0.9; position: fixed; z-index: 200">
</div>
<div *ngIf="showSpinner" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; margin: auto; height: 100px; width: 200px; text-align: center; color: white; position: fixed; z-index: 201">
  <p>{{spinnerDescription}}</p>
  <br>
  <mat-spinner style="margin: auto">
  </mat-spinner>
</div>-->
