.rolesDiv {
    display: block;
}

th {
    width: 100px;
    text-align: center;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
    width: 180px;
}

.rolesDiv {
    display: block;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.dialog {
    resize: both;
    border: 2px solid;
    width: 50px;
    display: inline;
}

/deep/ .custom-dialog-container .mat-dialog-container {
    padding: 0px;
    resize: both !important;
    width: 80vw;
    height: 60vh;
}

.rolesDiv /deep/ .mat-button {
    width: 50% !important;
}

.rolesDiv /deep/ .custom-dialog-container.vert .mat-dialog-container.vert {
    resize:vertical;
}

.rolesDiv /deep/ .mat-paginator-container {
    width: auto !important;
    padding-left: 20px !important;
}

.rolesDiv /deep/ .mat-paginator-page-size-label {
    width: 125px !important;
    text-align: left !important;
}

.rolesDiv /deep/ .mat-form-field {
    width: 40px !important;
}

.rolesDiv /deep/ .mat-paginator-range-label {
    margin-left: 42px !important;
    margin-right: 40px !important;
}

.rolesDiv /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(31,64,122,.54)
}

.rolesDiv /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(31,64,122,1)
}

.red-icon {
    color: red;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .rolesDiv /deep/ table {
        width: 485px;
    }

    .rolesDiv /deep/ .mat-button {
        width: 50% !important;
    }
}

@media screen and (max-width: 500px) {
    .rolesDiv /deep/ table {
        width: 100%;
    }

    .rolesDiv /deep/ .mat-button {
        width: 100% !important;
        display: block;
    }
}


