<div class="loginBox">
  <div style="padding-left: 10px">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="loginFail" id="loginFailed">Username and password are not valid</div>
      <mat-form-field>
        <input type="text" matInput formControlName="username" placeholder="Username" value="">
        <mat-error>
          Username cannot be empty
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Password" value="">
        <mat-error>
          Password cannot be empty
        </mat-error>
      </mat-form-field>
      <br>
      <button type="submit" mat-button [disabled]="!valid" style="width: 180px">Login</button>
    </form>
  </div>
</div>
