<app-pki></app-pki>
<mat-divider></mat-divider>

<app-key-derivation></app-key-derivation>
<mat-divider></mat-divider>

<app-easy-vote [parentComponentName]="'trustee'"></app-easy-vote>
<mat-divider></mat-divider>

<app-decryption></app-decryption>
<mat-divider></mat-divider>

<app-publish></app-publish>
<mat-divider></mat-divider>
